<div *ngFor="let o of orders; let i = index">
    <h3>Order no {{i+1}}</h3>
    <p>{{o.id}}</p>
    <p>Ime i prezime kupca: {{o.customerFirstName}} {{o.customerLastName}}</p>

    <p *ngFor="let prod of o.productsO; let j = index">
        Product no {{j+1}}: <span>{{prod.id}} --> {{prod.name}}</span>
    </p>
    <p>{{o.date.seconds * 1000 | date:'MM-dd-yyyy'}}</p>
    <p>{{o.price}} RSD</p>
    <h1 *ngIf="!o.delivered">Za isporuku</h1>
    <h1 *ngIf="o.delivered">Isporučeno</h1>
    <button (click)="delete(o.id)">Ukloni</button>
    <button *ngIf="!o.delivered" (click)="setDelivered(o.id)">Isporučeno</button>
    <hr>
</div>