<div class="container main-div">
    <div *ngFor="let product of products">
     <mat-card class="example-card item" style="margin-right: 2rem">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} RSD</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.pic}}" alt="" >
      <mat-card-content>
        <p>
          blablabla
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click) = 'store(product.id)'  routerLink="details">DETALJI</button>
        <button mat-button (click) = 'removeFromCart(product.id)'  >IZBACI IZ KORPE</button>
        <!-- <button mat-button color="warn" (click)="deleteProduct(product.id)">Obriši</button> -->
      </mat-card-actions>
    </mat-card>
    </div>
    </div>