.table-container {
    padding: 2rem;
    /* max-height: 30rem;
    overflow: auto; */
    margin-bottom: 1rem; 
    margin-top: 1rem;
}

table {
    width: 100%;
}



.button-container {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.icon:hover {
    color: white;
}

.form-container > * {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
}

mat-form-field {
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
}