  .full-width {
    margin-top: 1rem;
    
  }

  
  
  .shipping-card {
    margin: 20px auto;
    
  }

  .button {
    margin-top: 1rem;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}