<mat-card class="sipping-card"> 
  <mat-card-header>
      <mat-card-title>Prijavite se:</mat-card-title>
  </mat-card-header>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <div class="row">
      <div class="col">
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="formGroup.controls['username'].invalid">
              {{getError('user')}}
            </mat-error>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="!formGroup.controls['password'].valid">
            {{getError('pass')}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
   
    <div class="row">
      <div class="col">
        <div>
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Prijava</button>
        </div>
      </div>
    </div>
  

    

  </form>
</mat-card>