.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  /* background: #cc6600; */
  color: #fff;
}

.upperLinks {
  text-decoration: none;
}

.upperLinks:hover {
  color: white;
}