<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Novi proizvod</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form name="form">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Naziv proizvoda" name="name" [(ngModel)]="productName">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Cena" name="price" id="price" [(ngModel)]="productPrice" >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Količina"[(ngModel)]="productAmount" name ="productAmount">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Kategorija</mat-label>
              <mat-select [(ngModel)]="productCategory" name="select">
                <mat-option [value]="category" *ngFor="let category of categories" >{{category}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Opis proizvoda" name="description" [(ngModel)]="productDescription"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col" style="height: 30rem; width: 50rem">
              <uploader></uploader>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <button mat-stroked-button color="primary" (click) ="createProduct()">Dodaj proizvod</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

