<mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
      <a mat-button routerLink="" routerLinkActive="active">Unija Shop</a>
      <!-- <a mat-raised-button routerLink="users" routerLinkActive="active">Korisnici</a>
      <a mat-raised-button routerLink="upload" routerLinkActive="active">File Upload</a> -->
      <a mat-button routerLink="products" routerLinkActive="active">Proizvodi</a>
      <a mat-button routerLink="about" routerLinkActive="active">O nama</a>
      <a mat-button routerLink="contact" routerLinkActive="active">Kontakt</a>
    </span>
  </mat-toolbar>
  
  <router-outlet></router-outlet>