<!-- <div>
  <button mat-stroked-button color="transparent" (click)="openMenu()">Novi proizvod</button>

  <div class="login-wrapper" style="background-color: transparent;" *ngIf="menuOpened" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Novi proizvod</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" name="form">
  
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Naziv proizvoda" name="name" [(ngModel)]="productName">
          </mat-form-field>

          <mat-form-field >
            <input matInput placeholder="Opis proizvoda" name="description" [(ngModel)]="productDescription" >
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Cena" name="price" id="price" [(ngModel)]="productPrice" >
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Količina"[(ngModel)]="productAmount" name ="productAmount">
          </mat-form-field>
          
          
          
          <mat-form-field>
          
            <mat-label>Kategorija</mat-label>
            <mat-select [(value)]="selected"[(ngModel)]="productCategory" name="select">
          
              <mat-option [value]="category" *ngFor="let category of categories" >{{category}}
          
              </mat-option>
          
            </mat-select>
          
          </mat-form-field>

  
        </mat-card-content>

        <uploader></uploader>

        
        <button mat-stroked-button color="accent" (click) ="createProduct()" class="btn-block">Dodaj proizvod</button>
  
      </form>
    </mat-card>
  </div>

</div> -->

<!-- <mat-grid-list cols="3" rowHeight="1:1.618">
    <mat-grid-tile *ngFor="let product of products">
        <mat-card (click) = 'store(product.id)' routerLink="details">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>Cena: {{product.price}}RSD</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <img src="{{product.pic}}">
            </mat-card-content>

            
            <mat-card-content>Kategorija: {{product.category}}</mat-card-content>

            

            <button mat-button color="warn" (click) = "deleteProduct(product.id)">Obriši</button>
            <button mat-button color="white" (click) = 'store(product.id)' routerLink="details">Detalji</button>
            
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
 -->
<mat-tab-group>
  <mat-tab *ngFor='let c of categories'>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">category</mat-icon> -->
      {{c}}
    </ng-template>
    Content {{c}}
  </mat-tab>
</mat-tab-group>


<div *ngFor="let product of products">
 <mat-card class="example-card" style="margin-right: 2rem">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price}} RSD</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product.pic}}" alt="" >
  <mat-card-content>
    <p>
      blablabla
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click) = 'store(product.id)'  routerLink="details">DETALJI</button>
    <button mat-raised-button (click)="store(product.id);openDialog();">Pick one</button>
    <!-- <button mat-button color="warn" (click)="deleteProduct(product.id)">Obriši</button> -->
  </mat-card-actions>
</mat-card>
</div>

