.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
}

.example-card {
    /* max-width: 400px; */
    margin-bottom: 50px;
    background-color: transparent;
    float: left;
    border: 1px solid royalblue;
    box-shadow: 0 0px 8px 0 royalblue;
}

.example-card:hover {
    box-shadow: 0 0px 24px 0 royalblue;
}

img {
    width: 325px; 
    height: 300px;
    background: transparent;
}


.tab:hover {
    text-decoration: none;
    color: royalblue;
}

.tab-container {
    padding: 1rem;
    margin-bottom: 2rem;
}

.image-container {
    text-align: center;
} 

.card-actions {
    text-align: center;
}

mat-form-field {
    width: 5rem;
}

.card-content-container {
    text-align: center;
}

