<div class="tab-container">
  <nav mat-tab-nav-bar>
    <a class="tab" mat-tab-link *ngFor="let link of links" (click)='activeLink = link;showByCat(link);' [active]="activeLink == link">
      {{link}}
    </a>
  </nav>
</div>



<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  
    <mat-card *ngFor="let product of filteredProducts" class="example-card">
      
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} RSD <span *ngIf="product.amount==0">(Nema na lageru)</span></mat-card-subtitle>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image src="{{product.pic}}" alt="" (click) = 'store(product.id);resetNumber();openDialog()'>
      </div>
      <div class="card-content-container">
        <mat-card-content>
          
        </mat-card-content>
      </div>
      <mat-card-actions>
        <div class="card-actions">
          <mat-form-field>
            <mat-label>Kolicina</mat-label>
            <mat-select placeholder="kolicina" [(ngModel)]="num" name="{{product.name}}">
              <mat-option *ngFor="let i of arr" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
            <!-- <mat-select [(value)]='num'>
              <div *ngFor="let i of arr">
                <mat-option value='{{i}}'>
                  {{i}}
                </mat-option>
              </div>
            </mat-select> -->
          </mat-form-field>
          <a [disabled]="(product.amount == 0)" (click)='addToCart(product.id); openSnackBar(product.name, product.amount); resetNumber();' mat-button class="example-tab-icon"><mat-icon>add_shopping_cart</mat-icon></a>
          <a *ngIf="userLogged()" (click)='store(product.id);resetNumber();' mat-button  class="example-tab-icon" routerLink="edit"><mat-icon>edit</mat-icon></a>
          <a *ngIf="userLogged()"  (click)='deleteProduct(product.id); openSnackBar2(product.name); resetNumber();' mat-button class="example-tab-icon"><mat-icon>delete</mat-icon></a>
          
        </div>
      </mat-card-actions>
      
    </mat-card>
 
  </div>

