<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <mat-card class="example-card">
      
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.price}} RSD</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img mat-card-image src="{{product.picture}}" alt="" (click)="openDialog()">
        </div>
        <div class="card-content-container">
          <mat-card-content>
            {{product.description}}
          </mat-card-content>
        </div>
        <mat-card-actions>
          <div class="card-actions">
            
            <!-- <a [disabled]="(product.amount == 0)" (click)='addToCart(product.id); openSnackBar(product.name, product.amount); resetNumber();' mat-button class="example-tab-icon"><mat-icon>add_shopping_cart</mat-icon></a>
            <a *ngIf="userLogged()" (click)='store(product.id);resetNumber();' mat-button  class="example-tab-icon" routerLink="edit"><mat-icon>edit</mat-icon></a>
            <a *ngIf="userLogged()"  (click)='deleteProduct(product.id); openSnackBar2(product.name); resetNumber();' mat-button class="example-tab-icon"><mat-icon>delete</mat-icon></a> -->
            
          </div>
        </mat-card-actions>
        
      </mat-card>
</div>
