<mat-card class="singleProduct">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Cena: {{product.price}}RSD</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>{{product.description}}</mat-card-content>
    <!-- nije amount nego quantity -->
    <mat-card-content>{{product.quantity}} Proizvoda na lageru</mat-card-content>
    <mat-card-content>Kategorija: {{product.category}}</mat-card-content>
    <!-- nije pic vise nego picture -->
    <img mat-card-image src="{{product.picture}}">
    
    
</mat-card>